/* When working with flexbox we define in the parent of the items that we want to aligh */
/* Container inside cabecalhoPrincipal */
.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    /* Get the space and justify it between those elements */
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
    /* this justify content only works when we have space remaining */
    /* justify-content: space-between; */
}
.rodapePrincipal .container {
    display: flex;
    justify-content: space-between;
}
.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;    
    width: 70%;
    margin-right: 5%;
}
.rodapePrincipal-contatoForm {
    width: 25%;

}
/* when we add display flex: the child elements will have the same height */
.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list {
    display: flex;
    /* Changing direction for flex to use as column instead of row */
    /* flex-direction: column; */
    /* Yes, when we reach the limit I want to break into another colum */
    /* flex-wrap: wrap; */
    flex-flow: column wrap;
    height: 250px;
    justify-content: space-between;
    width: 100%;
    
}

