:root {
    --main-body-color: #FFF;
    --main-section-color: #F2F5F7;
    --black: #000;
    --hover-link-color: #063BCB;
}
h1,h2,h3,h4 {
    font-weight: bold;
}
* {
    font-family: 'Roboto', sans-serif;
}
body {
    
    background-color: var(--main-body-color);
}

h2 {
    font-weight: bold;
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
}

.container {
	width: 94%;
	margin: 0 auto;
}

/* MENU */
.logo img{
    height: 15vh;
}

.menu-container {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu-list{
    display: flex;
}
.menu-list li {
    margin-left: 1em;
}
.menu-list li:last-child{
    margin-right: 2em;
}
.menu-list li a{
    text-decoration: none;
    
    
    color: var(--black);
    text-transform: uppercase;
    transition: all .5s ease;
    
}
.menu-list li a:hover{
    
    color: var(--hover-link-color)
    
    
}
.about-container, .mission-container, .actions-container {
    margin-bottom: 2em;
}
/* About container */
.about-container {
    background-color: var(--main-section-color);
    display: flex;
    /* border: 1px solid blue; */
    
}
.about-paragraph, .mission-paragraph {
    line-height: 1.5em;
}

.about-title, .mission-paragraph {
    margin-top:20px;
    margin-bottom: 20px;
    text-align: center;
}
.about-dog-img img {
    width: 40vw;
    
}

.about-dog-health {
    padding: 2em;
}
/* Mission */
.mission-container {
    
    display:flex;   
    background-color: var(--main-body-color);
    justify-content: space-around;
}
.whatWeDo-title, .actions-title {
    display: block;
    margin: 1em 0;
    text-align: center;
}

.card img{
    width: 350px;
    height: 350px;
}
.whatWeDo-header, .actions-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-bottom: 3em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 24.5%;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container {
    padding: 1em 2em;
}

