:root {
    --main-body-color: #FFF;
    --main-section-color: #F2F5F7;
    --black: #000;
}
* {
    font-family: 'Roboto', sans-serif;
}
body {
    
    background-color: var(--main-body-color);
}

h2 {
    font-weight: bold;
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
}

.container {
	width: 94%;
	margin: 0 auto;
}

/* MENU */
.logo img{
    width: 30%;
    height: 30%;
}
header{
    /* border: 1px solid red; */
}
.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu-list{
    display: flex;
}
.menu-list li {
    margin-left: 1em;
}
.menu-list li:last-child{
    margin-right: 2em;
}
.menu-list li a{
    text-decoration: none;
    color: var(--black);
    text-transform: uppercase;
    
}

/* About container */
.about-container, .mission-container {
    background-color: var(--main-section-color);
    display: flex;
    /* border: 1px solid blue; */
    
}
.mission-container {
    flex-direction: column;
    
    background-color: var(--main-body-color);
}
.about-paragraph, .mission-paragraph {
    line-height: 1.5em;
}

.about-title, .mission-paragraph {
    margin-top:20px;
    margin-bottom: 20px;
    text-align: center;
}
.about-dog-img img {
    width: 40vw;
    
}

.about-dog-health {
    padding: 2em;
}
.mission-dogWoman-img {
    margin-top: 5%;
}
.mission-dogWoman-img img {
    width: 50%;
    
}
