:root {
    --main-body-color: #FFF;
    --main-section-color: #F2F5F7;
    --black: #000;
    --hover-link-color: #A1D9FF;
}
h1,h2,h3,h4 {
    font-weight: bold;
}
* {
    font-family: 'Roboto', sans-serif;
}
body {
    
    background-color: var(--main-body-color);
}

h2 {
    font-weight: bold;
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
}

.container {
	width: 94%;
	margin: 0 auto;
}

/* MENU */
.logo img{
    height: 15vh;
}

.menu-container {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu-list{
    display: flex;
}
.menu-list li {
    margin-left: 1em;
}
.menu-list li:last-child{
    margin-right: 2em;
}
.menu-list li a{
    text-decoration: none;
    color: var(--black);
    text-transform: uppercase;
    transition: all .5s ease;
    
}
.menu-list li a:hover{
    color: var(--hover-link-color)
}
.about-container, .mission-container, .contact-container {
    margin-bottom: 2em;
}
/* About container */
.about-container{
    background-color: var(--main-section-color);
    display: flex;
    /* border: 1px solid blue; */
    
}
.about-paragraph, .mission-paragraph {
    line-height: 1.5em;
}

.about-title, .mission-paragraph {
    margin-top:20px;
    margin-bottom: 20px;
    text-align: center;
}
.about-dog-img img {
    width: 40vw;
    
}

.about-dog-health {
    padding: 2em;
}
/* Mission */
.mission-container {
    
    display:flex;   
    background-color: var(--main-body-color);
    justify-content: space-around;
}
.whatWeDo-title, .actions-title, .contact-title {
    display: block;
    margin: 1em 0;
    text-align: center;
}

.card img{
    width: 350px;
    height: 350px;
}
.whatWeDo-header, .actions-header, .contact-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-bottom: 3em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 24.5%;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container {
    padding: 1em 2em;
}

/* Contact Us */
.contact-container {
    background-color: var(--main-section-color);

}
.form-section-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
/* Not sure if its the best approach */
label, input, textarea,select {
    display: block;
    margin-bottom: 1.0em;
}
form {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 24.5%;
    padding: 2em;
    width: 40%;
    background-color: var(--main-body-color);
    
}
.contact-dog-img img {
    width: 40vw;   
}
.form-container {
    display: flex;
    flex-direction: column;
}
.custom-border-color {
    border-color: var(--hover-link-color);
}
.custom-border {
    border-bottom: 1px solid var(--hover-link-color);
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

footer {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12vh;
    background-color: var(--main-body-color);
}

.footer-list {
    display:flex;
}

.footer-list-item {
    margin: 1em;
}

.footer-list-item a {
    color:var(--black);
    box-shadow: 0 4px 8px 0 rgba(161,217,255, 0.2);
    transition: 0.3s;
}

.footer-list-item a:hover {
    color: var(--hover-link-color);
}


/* Responsivee */
@media(max-width: 768px ) {
    /* Maioria das vezes, queremos o layout em stack  */
    .menu-container {
        flex-direction: column;
    }
    .about-container {
        flex-direction: column;
    }
    .about-dog-img img {
        width: 100vw;
    }
    .whatWeDo {
        flex-direction: column;
    }
    .mission-container{
        flex-direction: column;
    }
    .card img{
        width: 100vw;
        height: auto;
    }
    .card-container {
        width: 100vw;
    }
    .card {
        box-shadow: 0 ;
        transition: 0;
        width: 100vw;
    }
    .form-section-container {
        flex-direction: column;
    }    
    form {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100vw;
        padding: 2em;
        background-color: var(--main-body-color);
        
    }
    .contact-dog-img img {
        width: 55vw;   
        height: 40vh;
    }
    
}